Source: pebble-arm-cs-tools
Section: devel
Priority: optional
Maintainer: Grégoire Sage <gregoire.sage@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://developer.pebble.com/sdk/

Package: pebble-arm-cs-tools
Architecture: any
Description: Unofficial pebble-arm-cs-tools package
 Unofficial pebble-arm-cs-tools package
